<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body style="background-color: bisque;">
    <h1 style="color:white; background-color: black; text-align: center;">forgot password</h1>
    <h3>
        <pre>
            Hi {{data.aid.username}},
            "Learnhub Solutions – Software Development Company in India, is a team of innovators, web developers, software engineers, and tech enthusiasts who help businesses grow.
            Your forgot password OTP(One-Time-Password) is {{data.otp}}
        </pre>
    </h3>
</body>
</html>